.window {
    border: 5px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 10%;
    color: brown;
  }
  