.taskbar {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    opacity: 0.7;
    width: 70%;
    height: 8vh;
    margin-top: 89vh;
    position: absolute;
    color: aliceblue;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83, 82, 82);
    width: 7px;
    height: 7vh; 
    border-radius: 10px;
    position: relative;
    left: 75%;
}

.taskContents {
    position: relative;
}
